body{
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.main-container {
  display: grid;
  grid: 150px 1fr/ 1fr;
}

.homepage-container{
  padding: 1rem;
}

.header-nav{
 display: grid;
 grid: 1fr / repeat(3, 1fr);
 padding: 1rem;
 justify-items: center;
 align-items: center;
 background-color: pink;
 color: white;
 font-size: 2rem;
 font-weight: bold;
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
background: rgba(0, 0, 0,  0.5);
text-align: center;
}

.cart-container{
  text-align: center;
  padding: 1rem;
}

.store-container {
  display: flex;
  /* grid: 1fr / repeat(3, 1fr); */
}

.item-card{
  display: grid;
  grid: 1fr/1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background: snow;
  margin: 1rem;
}

.item-name{
  font-size: 1.5rem;
  font-weight: bold;
}

img{
  border-radius: 25px;
}

.cart-item{
  display: grid;
  grid: 150px / 150px 1fr;
  align-items: center;
  gap: 1rem;
}

.cart-list{
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-items: center;
  padding: 1rem;
}

.total-cart-cost{
  text-align: right;
  padding: 1.5rem;
  font-weight: bold;
}
